<%= form_for(@item, validate: true, html: { data: { remote: true, type: "script" } }) do |f| %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, rows: 5 %>
  </div>

  <div class="actions">
    <button type="submit">Submit</button>
  </div>

<% end %>
