<% set_title("Guides - #{@item.title}") %>

<h1><%= @item.title %> Guides</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @guides.each do |guide| %>
    <% cache(guide) do %>
      <tr class="guide_<%= guide.id %>">
        <td><%= guide.title %></td>
        <td><%= link_to "Show", [@item, guide] %></td>
        <td><%= link_to "Edit", edit_item_guide_path(@item, guide) %></td>
        <td><%= link_to "Destroy", [@item, guide], method: :delete, data: { remote: true, type: "script", confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<p>
  <%= link_to "New Guide", new_item_guide_path(@item) %> |
  <%= link_to "Back", @item %>
</p>