<!doctype html>
<head>

  <%= title_tag %>
  <%= stylesheet_link_tag "application", :media => "screen" %>
  <%= stylesheet_link_tag "print", :media => "print" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>

<body
  data-controller="<%= controller_name %>"
  data-action="<%= action_name %>"
  class="<%= [controller_name, action_name, "page"].join("_") %>"
>

  <div class="header">
    <p><strong>Desktop Version</strong> - <%= link_to "Switch to Mobile", mobile_url %></p>
    <p><%= params.inspect %></p>
  </div>

  <%= yield %>

</body>
</html>
