<!doctype html>
<head>
  <%= title_tag %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= requirejs_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="header"><%= Time.now %></div>

  <div data-pjax-container="main">
    <%= yield %>
  </div>
</body>
</html>
