<!doctype html>
<head>

  <%= title_tag %>
  <%= stylesheet_link_tag "mobile", :media => "screen, handheld" %>
  <%= stylesheet_link_tag "print", :media => "print" %>
  <%= csrf_meta_tags %>
  <%= tag(:link, rel: "canonical", href: desktop_url) %>

</head>

<body
  data-controller="<%= controller_name %>"
  data-action="<%= action_name %>"
  class="<%= [controller_name, action_name, "page"].join("_") %>"
>

  <div class="header">
    <p><strong>Mobile Version</strong> - <%= link_to "Switch to Desktop", desktop_url %></p>
    <p><%= params.inspect %></p>
  </div>

  <%= yield %>

  <%= javascript_include_tag "mobile" %>

</body>
</html>
