<!doctype html>
<head>
  <%= title_tag %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= requirejs_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="header"><%= Time.now %></div>

  <%= pjax_container "main" do %>
    <%= yield %>
  <% end %>
</body>
</html>
